/* html, body {
    margin: 0;
    padding: 0;
}

:root {
    --search-border: #bbb;
    --search-focus-border: #3a71ca;
}


.container{
    border:none;
    margin: 100px;
    padding: 15%;

    cursor: pointer;
    width:100%;
    box-sizing: border-box;
    min-width: 250px;
}


.search-bar{
    width: 33.33%;
    padding: 8px 12px;
    border: 2px solid var(--search-border) ;
    border-radius: 4px;
    transition: all .3s;
    font-size: 16px;
}
.search-bar:focus{
    
    width: 100%;
    border-color: var(--search-focus-border);
    outline: none;

    
}

.search-bar:focus::placeholder{
    color: transparent;
}

.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip:rect(0 0 0 0);
    border: 0;
} */


html, body {
    margin: 0;
    padding: 0;
}

:root {
    --search-border: #bbb;
    --search-focus-border: #3a71ca;
}

/* w3.org */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.container {
    padding: 2em;
    width: 80%;
    margin: auto;
    min-width: 320px;
}

.search-bar {
    width: 30%;
    line-height: 2;
    border-radius: 4px;
    border: 1px solid var(--search-border);
    transition: all .3s;
}

.search-bar:focus {
    width: 100%;
    border-color: var(--search-focus-border);
    outline: none;
}

.search-bar::placeholder {
    font-weight: 200;
}

.search-bar:focus::placeholder {
    color: transparent;
}



