html, body {
    margin: 0;
    padding: 0;
}

:root {
    --search-border: #bbb;
    --search-focus-border: #3a71ca;
}


.container{
    border:none;
    margin: 100px;
    padding: 15%;

    cursor: pointer;
    width:100%;
    box-sizing: border-box;
}


.search-bar{
    width: 33.33%;
    padding: 8px 12px;
    border: 2px solid var(--search-border) ;
    border-radius: 4px;
    transition: width 0.3s ease, border-color 0.3s ease ;
    font-size: 16px;
}
.search-bar:focus{
    
    width: 100%;
    border-color: var(--search-focus-border);
    outline: none;

    
}

.search-bar:focus::placeholder{
    color: transparent;
}

.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip:rect(0 0 0 0);
    border: 0;
}



