/* html, body {
    margin: 0;
    padding: 0;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.square{
    height: 1.5em;
    width: 1.5em;
    margin: .5em;
    animation: rotate infinite 1.5s ;
}

.square1 {
    background: red;
}

.square2 {
    background: orange;
}

.square3 {
    background: blue;
}

@keyframes rotate {
    from {
        transform: rotate(-45deg);
    }
    
    to {
        transform: rotate(45deg);
    }
} */

:root {
    --black: #282828; 
    --blue: #2892f9; 
    --red: #fb2f27;
    --yellow: #fdfe29;
}

html, body {
    margin: 0;
    padding: 0;
} 

.ring {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.rings {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.bullseye {
    background: var(--yellow);
    width: 2em;
    height: 2em;
    border-radius: 50%;
}
.ring-3{
    background: var(--red);
    width:4em;
    height: 4em;
    border-radius: 50%;
}
.ring-2{
    background: var(--blue);
    width: 6em;
    height: 6em;
    border-radius: 50%;
}
.ring-1{
    background: var(--black);
    width: 8em;
    height: 8em;
    border-radius: 50%;
}



